body {
    background-color: rgb(11, 14, 15);
    color: rgb(42, 165, 50);
    fond-family: "roboto",
}

section {
    border-bottom: 3px solid blue;
}

h2 {
    color: blue;
}

strong {
    color: blue;
}

.signature {
    font-family: "roboto";
    text-align: right;

}
.section-1 {
    background-color: blueviolet;
    padding: 0 10px 0 10px;
}
.hidden {
    display: none;
}
.colonnes {
    display: flex; 
    justify-content: space-around;   
}
